
mixin contributorTmpl()
  template(class=`${prefixjs}-contributorTmpl`)
    article(class=`${prefix}-contributor ${prefixjs}-contributor`)
      img(class=`${prefix}-contributor__avatar ${prefixjs}-contributor__avatar` src="")
      span(class=`${prefix}-contributor__name ${prefixjs}-contributor__name`)