mixin Slider({modifier='', items= []})
	div.js_slider(class=`${prefix}-slider ${prefixjs}-slider`)
		div.js_frame(class=`${prefix}-slider__frame ${prefixjs}-slider__frame`)
			ul.js_slides(class=`${prefix}-slider__list ${prefixjs}-slider__list`)
				each item in items
					li(class=`${prefix}-slider__list-item ${prefixjs}-slider__list-item` data-repo=item.name data-id=item.id)
						+Repo({ title:item.name, homepage: item.homepage, stars:item.stargazers_count, version:"1.0.0", desc:item.description})
		span.js_prev(class=`${prefix}-slider__prev ${prefixjs}-slider__prev`)
			+Icon({id:'simpleArrowLeft'})
		span.js_next(class=`${prefix}-slider__next ${prefixjs}-slider__next`)
			+Icon({id:'simpleArrowRight'})

